.main-container *,
.main-container input,
.main-container :before,
.main-container :after {
  box-sizing: unset;
}

.partner .btn--secondary {
  color: #19232d;
  border: 1px solid #e6e6e6;
  background-color: transparent;
}

.partner .btn--secondary.btn--small {
  font-weight: normal;
}

.main-container * {
  font-family: Quicksand;
}

.main-container .page-width {
  max-width: 1440px;
  margin: auto;
  padding: 0 17px;
}

.main-container h1,
.main-container h2,
.main-container h3,
.main-container h4,
.main-container h5,
.main-container h6,
.main-container .h1,
.main-container .h2,
.main-container .h3,
.main-container .h4,
.main-container .h5,
.main-container .h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.main-container h1,
.main-container .h1 {
  font-size: 2.5rem;
}

.main-container h2,
.main-container .h2 {
  font-size: 2rem;
}

.main-container h3,
.main-container .h3 {
  font-size: 1.75rem;
}

.main-container h4,
.main-container .h4 {
  font-size: 1.5rem;
}

.main-container h5,
.main-container .h5 {
  font-size: 1.25rem;
}

.main-container h6,
.main-container .h6 {
  font-size: 1rem;
}

.main-container h1,
.main-container h2 {
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: Quicksand;
  font-size: 32px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
}

.main-container h1.dark,
.main-container h2.dark {
  color: #19232d;
}

.main-container h1.light,
.main-container h2.light {
  color: white;
}

.main-container a.button {
  background-color: white;
  font-family: Quicksand;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 3px;
  text-align: center;
  color: #19232d;
  border: 1px solid #e6e6e6;
  border-radius: 0px;
}

.main-container a.button.light {
  border: 1px solid #e6e6e6;
  background-color: white;
  color: #19232d;
}
.main-container a.button.dark {
  background-color: #19232d;
  color: white;
  border: 1px solid #19232d;
}

@media only screen and (max-width: 768px) {
  .main-container .overflow-wrapper {
    overflow: hidden;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
  }
  /*
  [data-aos="overflow__animation"] {
      transform: translateX(0);
      transition: all 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  } */

  .main-container .overflow-wrapper .overflow-content {
    white-space: nowrap;
    display: -ms-flexbox;
    display: flex;
  }

  /* [data-aos="overflow__animation"].aos-animate {
      transform: translateX(0);
  } */

  .main-container h1,
  .main-container h2 {
    font-size: 24px;
  }

  .main-container h3 {
    font-size: 18px;
  }

  .main-container .inner-container {
    margin: 0px 20px;
  }
}

.main-container {
  font-family: Quicksand;
  width: 100%;
  margin: auto;
}

@media (min-width: 1440px) {
  .main-container {
    margin: auto;
  }
}

.main-container .container {
  margin-top: 70px;
}

.main-container .inner-container {
  margin: 0px 40px;
}

.main-container .no-margin-top {
  margin-top: 0px;
}

.main-container .btn {
  padding: 11px 20px;
  display: inline-block;
}

.main-container a:-webkit-any-link,
.main-container a:hover {
  text-decoration: none;
}

.input-error {
  background-color: #ffdddd !important;
}

.anchor-header-offset:before {
  display: block;
  content: " ";
  margin-top: -125px;
  height: 125px;
  visibility: hidden;
}
