/* Header styles (in the Liquid theme, these are injected by Shopify as a style tag */
.site-nav__link,
.site-nav__dropdown-link:not(.site-nav__dropdown-link--top-level) {
  font-size: 13px;
}

.site-nav__link, .mobile-nav__link--top-level {
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
.mobile-nav__link--top-level {
  font-size: 1.1em;
}

.header-item--logo,
.header-layout--left-center .header-item--logo,
.header-layout--left-center .header-item--icons {
  -webkit-box-flex: 0 1 150px;
  -ms-flex: 0 1 150px;
  flex: 0 1 150px;
}

@media only screen and (min-width: 769px) {
  .header-item--logo,
  .header-layout--left-center .header-item--logo,
  .header-layout--left-center .header-item--icons {
    -webkit-box-flex: 0 0 150px;
    -ms-flex: 0 0 150px;
    flex: 0 0 150px;
  }
}

.site-header__logo a {
  width: 150px;
}

.is-light .site-header__logo .logo--inverted {
  width: 150px;
}

@media only screen and (min-width: 769px) {
  .site-header__logo a {
    width: 150px;
  }

  .is-light .site-header__logo .logo--inverted {
    width: 150px;
  }
}
/* END Header styles */
